<h2>Bounties</h2>
<ul class="bounties">
    <li *ngFor="let bounty of bounties" (click)="onSelect(bounty)">
        <span class="badge">{{bounty.id}}</span>
        {{bounty.name}} |
        <i>{{bounty.status}}</i>
    </li>
</ul>

<div *ngIf="selectedBounty">

    <h2>{{selectedBounty.name}} Details</h2>
    <div><span>id: </span>{{selectedBounty.id}}</div>
    <div><span>price: </span>{{selectedBounty.price}} | Republic Credits</div>
    <div>
      <label>Status:
        <input [(ngModel)]="selectedBounty.status" placeholder="Pending"/>
      </label>
    </div>
  
</div>